extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Manuel Garcia-Nieto

        p Full Stack JavaScript Developer


        .about-bio

          p As a full stack web developer, I have the unique ability to create amazing user experiences by building both the front-end and back-end of web applications. With my expertise in programming languages like JavaScript, HTML, and CSS, as well as my experience with databases, server-side languages, and frameworks, I am able to bring a broad range of technical skills to the table. I am able to design, build, test, and maintain web applications, ensuring that they meet the needs of users and businesses alike. My passion for problem-solving and collaboration means that I am comfortable working with other developers, designers, and stakeholders to create applications that are not only functional, but also user-friendly and optimized for performance. In summary, as a full stack web developer, I am a versatile and skilled professional who is passionate about creating robust and user-friendly web applications from end-to-end. My technical skills and passion for problem-solving make me an invaluable asset to any team, and my ability to bridge the gap between front-end and back-end development is crucial in creating the best possible user experiences.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML5
          li CSS3
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Bootstrap
          li Docker
          li VirtualBox
          li PostgreSQL

        h6 Contact Info

        ul
          li +34 696 139 133
          li mgarcianieto@proton.me

        a.btn-link(href='https://www.linkedin.com/in/manuel-garcia-nieto/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/mGarciaNieto' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/m_GarciaNieto' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back