<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Rock+Salt&family=Sono:wght@300;400;600;700;800&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@300;400;500;700;900&display=swap' rel='stylesheet')

    //- link(rel="shortcut icon", href="/static/img/favicon/favicon-16x16.png", type="image/x-icon")

    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    script(type='text/javascript' src='/static/js/script.js' defer)

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../static/img/profile/profilePic2.png', alt='Profile Photo')
        .dev-intro-box

          h5 Manuel 
          h5 Garcia-Nieto

          p Hello and Welcome to my tech profile website! My name is Manuel, and I am a Full Stack Web Developer. I have a passion for all things tech and enjoy staying up-to-date with the latest trends and advancements in the field. 

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Manuel Garcia-Nieto

      block content